body{
  background-color: lightcoral;
  color: antiquewhite;
  
}


.title{
  text-align: center;
  padding: 80px;
}

.search-container{
  padding: 30px;
}
.contact-list{
  padding: 20px 10px;
}
.contact-item{
  padding-top: 10px;
}
.item-name{ padding-left: 10px;font-weight: 700;

}
.item-phonenumber{padding-left: 10px; font-weight: 500;

}